@use "./variables.scss" as *;

// put your custom CSS here!

// --- Regular (400 Normal) ---
@font-face {
  font-family: 'Mazius Display';
  src: url('/static/fonts/MaziusDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// --- Bold (700 Normal) ---
@font-face {
  font-family: 'Mazius Display';
  src: url('/static/fonts/MaziusDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// --- Extra Italic Regular (400 Italic) ---
@font-face {
  font-family: 'Mazius Display';
  src: url('/static/fonts/MaziusDisplay-Extraitalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// --- Extra Italic Bold (700 Italic) ---
@font-face {
  font-family: 'Mazius Display';
  src: url('/static/fonts/MaziusDisplay-ExtraItalicBold.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

